.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.css-9jyc04 {
  margin-top: 0px;
}

#content {
  display: flex;
  flex-direction: row;
}

#sidebar {
  width: 20%;
  margin: 1%;
}

#grid {
  width: 75%;
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
}

#card {
  padding: 1%;
}

#product {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.content {
  display: flex;
  flex-direction: row;
}

#img {
  width: 30%;
  margin: 2%;
  height: 380px;
}

#img > img{
  height: 100%;
}

#gameInfo{
  width: 70%;
  margin: 2%;
}
#gameInfo > h1 {
  font-size: xxx-large;
  margin-bottom: 10px;
}
#gameInfo > h2 {
  font-size: xx-large;
}

#gameInfo > p {
  font-size: larger;
}

#text{
  font-size: 110%;
}

#digitalText {
  margin-top: 4%;
}